<html>
    <head>
        <title>{{course_name}}</title>
    </head>
    <body>
        <h1> HostName is {{ansible_hostname}}</h1>
        <p> managed by {{admin_name}} </p>
        <br>{{ansible_all_ipv4_addresses}}<br>
    </body>
</html>